<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}AviaCo{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav>
  <a href="/" class="nav-logo">AVIA<span>CO</span></a>
  <ul class="nav-links">
    <li><a href="/flights/">Рейсы</a></li>
    <li><a href="/bookings/">Бронирование</a></li>
    <li><a href="/aircraft/">Самолёты</a></li>
  </ul>
  <div class="nav-auth">
    {% if user.is_authenticated %}
      <span class="nav-user">{{ user.email }}</span>
      <a href="/login/logout/" class="nav-btn-outline">Выйти</a>
    {% else %}
      <a href="/login/" class="nav-btn">Войти</a>
    {% endif %}
  </div>
</nav>
<main>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</main>
<footer>
  <div class="footer-logo">AVIACO</div>
  <div class="footer-copy">© 2026 AviaCo. Все права защищены.</div>
</footer>
</body>
</html>
